@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body
{   
    height: 100vh;
    background: url("doc.webp");
    background-position: center;
    background-size: cover;

}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar
{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo
{
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar .logo span
{
    color: red;
}

.navbar .menu-link
{
    display: flex;
    gap: 40px;
    list-style: none;

}

.navbar a
{
    color: blue;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover
{
    color:red;
}

.hero-selection
{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-selection .content
{
    color:#000000;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.hero-selection .content h1
{
    font-size: 3rem;
    max-width: 600px;

}

.hero-selection .content p
{
    font-weight: 900;
    margin-top: 15px;
    max-width: 600px;
}

.hero-selection .content video
{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 300px;
}

.hero-selection .content p.end
{
    display: block;
    background-color:#03fcc6;
}